[Desktop Entry]
Version=1.0
Categories=GNOME;Security;
Icon=password-manager
Name=Pass
Comment=GNOME Shell search provider for pass
Terminal=false
Type=Application
OnlyShowIn=GNOME;
NoDisplay=true
